<%- include('./partials/sidebar'); %>
<main>
    <h1>Registrar Produto</h1>

    <section class="mt-5">
        <form action="http://localhost:3000/produto/registrar" method="POST">
            <fieldset class="d-flex flex-column">
                <label for="">Nome do produto</label>
                <input name="name" type="text">
            </fieldset>

            <fieldset class="d-flex flex-column mt-3">
                <label for="">Preço</label>
                <input name="price" type="text">
            </fieldset>

            <fieldset class="d-flex flex-column mt-3">
                <label for="">Descrição</label>
                <input name="description" type="text">
            </fieldset>

            <button type="submit" class="btn btn-primary mt-5">Cadastrar</button>
        </form>
    </section>
</main>
<%- include('./partials/footer'); %>