body {
    padding-left: calc(var(--width-sidebar) + 20px);
    padding-top: 36px;
    padding-right: 20px;
    color: var(--primary);
    background-color: var(--gray-300);
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

a {
    text-decoration: none;
    transition: 0.4s all;
}

a:hover {
    color: var(--secondary);
}